<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a   class="navbar-brand" href="/"> FastAppoint<i class="fa-solid fa-laptop-medical"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Doctor</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/loginDoc">Login</a></li>
              <li><a class="dropdown-item" href="/signinDoc">Register</a></li>

            </ul>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Patient</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/loginPatient">Login</a></li>
              <li><a class="dropdown-item" href="/signinPatient">Register</a></li>
            </ul>
          </li>
         
          <!-- <li class="nav-item">
            <a class="nav-link active" href="/login">SignIn</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
        <h6 ><a style="color: black; text-decoration:none" href="">About Us</a></h6>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>