<%- include('partials/head')%>
<%- include('partials/navbar');%>
<din class="about">
    <img src="images/about.png" alt="img">
    <p id="about">
        The platform aims primarily at providing a user-friendly interface and convenient customer experience to fasten
        up medical appointment procedures.
        it allows to book, modify, and cancel reservations online on their own, without making a phone call.
        Since 67% of customers prefer self-service instead of talking to a business representative, it is indeed a need to improve
        the health appointment process. It
        also makes it easy for patients to know about specialists present in their respective cities. The platform also
        makes it handy for doctors to manage appointments systematically; hence bridging the doctor-patient gap to some
        extent!
    </p>
</din>

<%- include('partials/footer')%>