<%- include('partials/head')%>


<%- include('partials/navbar')%>



<div class="container">
  <span class="heading">FastAppoint<i class="fa-solid fa-laptop-medical"></i></span>
  <span></span>
  
</div>

<div class="second">
  <div class="description">
    <div class="content">
      <h2 class="heading2">Fasten up <br>your appointments here!</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing <br>elit. Nobis ducimus illum id illo, autem nesciunt<br> qui minima, ad recusandae aliquam quas <br>sed impedit voluptates minus ipsa dolorem aspernatur <br>aperiam soluta.</p>
    </div>
   

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets10.lottiefiles.com/packages/lf20_chdxojyo.json"  background="transparent"  speed="1"  style="width: 300px; height: 270px;"  loop  autoplay></lottie-player>


  </div>
  
  
</div>

<div class="animated-text">
  <div class="line">OUR</div>
  <div class="line">KEY</div>
  <div class="line">FEATURES</div>
</div>
<!-- card -->
<div class="cards2">

    <div class="w3-card-4">
        <!-- <img src="img_snowtops.jpg" alt="Alps"> -->

        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets5.lottiefiles.com/packages/lf20_gmspxrnd.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        <div class="w3-container w3-center">
          <p>Get medical appointments from anywhere!</p>
          <button type="button" class="btn btn-primary"><a href="">Book Appointment</a></button>
        </div>
      </div>

      <div class="w3-card-4">
        <!-- <img src="img_snowtops.jpg" alt="Alps"> -->
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets3.lottiefiles.com/packages/lf20_yubjrwy7/doctors.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        <div class="w3-container w3-center">
          <p>Easy search of specialists aross your city!</p>
          <button type="button" class="btn btn-primary"><a href="/searchDoc">Search Doctors</a></button>
        </div>
      </div>


</div>


  <!-- card -->
<%-include('partials/footer')%>