<%- include('partials/head')%>


<%- include('partials/navbar')%>

<div class="form">
    <h2>FastAppoint<i class="fa-solid fa-laptop-medical"></i></h2>
    <%- include('partials/form')%>
    <h4>Do not have an account?</h4>
    <a href="/signin">Create One</a>
    
</div>





<%- include('partials/footer')%>