body{
  margin:1rem;
}
#heading{
   margin: auto 10%;
}
body{
    height: max-content;
    
}
footer {
    position: relative;
    right: 0;bottom:0;left:0;
  }
  .container{
    display: flex;
    justify-content: space space-around;
    flex-wrap: wrap;
  }
  .second{
    background-color:lightblue;
    height:40%;
    padding: 5%;
   margin: 50px auto;
  }
  .cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:1rem;
    margin-bottom: 50px;
    
  }
  .card{
    min-height: 15rem;
    border-style:outset;
    box-shadow: 5px 5px 4px lightblue;  
  }
  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn-primary{
    background-color: lightblue;
    color: black;
    border: 0ch;
    display: block;
  }
  .fa-laptop-medical{
    color: lightcoral;
  }
  .form{
    margin: 10% 20%;
  }
  .form-control{
    border-color:lightcoral ;
  }
  .sign{
    margin: 10% 20%;
  }

  .special{
    width:30%;
  }
  .cards2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:1rem;
    margin-bottom: 50px;
   
  }